body {
  background-color: #f0efed;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  perspective: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dice-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 40px;
}

.buttons-container {
  display: flex;
}

@media screen and (min-width: 350px) {
  .dice-container {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }
}

@media screen and (min-width: 600px) {
  .dice-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.dice-container-one-die {
  grid-template-columns: 1fr;
}

.dice-container-two-die {
  grid-template-columns: repeat(2, 1fr);
}

footer {
  display: flex;
  justify-content: center;
}
